# Dependencies 
pillow                      # PIL for social plugin
cairosvg                    # convert SVG files to PNG, PDF
urllib3                     # used to work with URLs

mkdocs-autorefs
mkdocs-git-committers-plugin-2
mkdocs-git-revision-date-localized-plugin
# mkdocs-include-markdown-plugin
mkdocs-material
mkdocs-mermaid2-plugin
mkdocs-minify-plugin
# mkdocs-pdf
mkdocs-rss-plugin           # RSS for blog posts
# mkdocs-video
