mkdocs-autorefs
# mkdocs-git-revision-date-localized-plugin
# mkdocs-include-markdown-plugin
mkdocs-material
mkdocs-mermaid2-plugin
mkdocs-minify-plugin
# mkdocs-pdf
mkdocs-rss-plugin           # RSS for blog posts
# mkdocs-video
